*/*.vcxproj

/configure/Debug
/configure/configure.ilk
/configure/configure.pdb

ImageMagickObject/dlldata.c
ImageMagickObject/vc*

/bin
/Debug
/lib
/Release

*.ipch
*.opendb
*.sdf
*.sln
*.suo
*.user
