*/*.vcxproj

/configure/Debug
/configure/Release
/configure/configure.ilk
/configure/configure.pdb

ImageMagickObject/dlldata.c
ImageMagickObject/vc*

/.vs
bin
/Debug
/lib
/Release

*.db
*.ipch
*.opendb
*.sdf
*.sln
*.suo
*.user
