/configure/x64
/configure/Debug
/configure/Release
/configure/configure.ilk
/configure/configure.pdb

/installer/inc/version.isx

/VisualStudioProjects/*

/utilities/ImageMagick.version.h

.vs
.vscode
bin
Debug
Release
/lib

NOTICE.txt

*.aps
*.db
*.ipch
*.opendb
*.sdf
*.sln
*.suo
*.user
*.exe
